*_result.json
*_cmd.log
*_original_export.bplisp
*_input.bplisp
*_export.bplisp
*_restored_export.bplisp
bp_player_edge_scroll_like_test_function_export.bplisp
probe_*_export.bplisp
roundtrip_*_edge_move_export.bplisp
